<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试Echarts</title>
    <!-- 引入 ECharts 文件 -->
    <script type="application/javascript" th:src="@{js/echarts.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/demo/demo.css">
    <script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="jquery-easyui-1.7.0/jquery.easyui.min.js"></script>

</head>
<body>
<div th:border="1px" style="height:200px;border-bottom: aliceblue 100px;padding-top: 100px" align="center">
    <select id="first" class="easyui-combobox" name="state" th:label="第一币种"
            style="width:10%;">
        <option value=""></option>
        <option th:each="item:${symbolList}" th:value="${item.id}" th:text="${item.symbol}"></option>
    </select>

    <select id="second" class="easyui-combobox" name="state" th:label="第二币种" style="width:10%;">
        <option value=""></option>
        <option th:each="item:${symbolList}" th:value="${item.id}" th:text="${item.symbol}"></option>
    </select>
    <a href="#" class="easyui-linkbutton" th:text="提交"></a>
</div>
<!-- 为ECharts准备一个具备大小（宽高）的Dom style="width: 600px;height:400px;" -->
<div id="main" style="width:100%; height:500px;" th:x="${data.getDateList()}" th:y="${data.getRateList()}"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var x = $("#main").attr("x")
    x = x.substr(1, x.length - 2).split(',')
    var y = $("#main").attr("y")
    y = y.substr(1, y.length - 2).split(',')
    // 指定图表的配置项和数据
    var option = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        title: {
            left: 'center',
            text: 'btc/eth',
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: x
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '100%']
        },
        dataZoom: [{
            type: 'inside',
            start: 0,
            end: 100
        }, {
            start: 0,
            end: 10
        }],
        series: [
            {
                name: '模拟数据',
                type: 'line',
                symbol: 'none',
                sampling: 'lttb',
                itemStyle: {
                    color: 'rgb(255, 70, 131)'
                },
                areaStyle: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgb(255, 158, 68)'
                    }, {
                        offset: 1,
                        color: 'rgb(255, 70, 131)'
                    }])
                },
                data: y
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    $("a").click(function () {
        var firstCoinid = $('#first  option:selected').val();
        var secondCoinId = $('#second  option:selected').val();
        console.log(firstCoinid + " " + secondCoinId)
        $.ajax({
            type: "POST",
            url: '/echarts?firstCoinid=' + firstCoinid + "&secondCoinId=" + secondCoinId,
            data: {query: "javascript"},
            contentType: "application/json",
            success: function (data) {
                // var myChart = echarts.init(document.getElementById('main'));
                if (data.status.code != '200') {
                    alert(data.status.msg)
                }
                var option = myChart.getOption();
                option.series[0].data = data.rateList;
                option.title[0].text = $('#first  option:selected').text() + "/" + $('#second  option:selected').text();
                myChart.setOption(option);
            }
        });

    });
</script>
</body>
</html>
